services:
  webapp:
    build: WebApp
    image: banquidle-webapp
    ports:
      - "3001:3000"
    environment:
      RAILS_ENV: production
    networks:
      - backend
    depends_on:
      - redis
  
  redis:
    image: redis@sha256:0e9ce48d0db4865e805389edcb078996322e85c5216834d1f55c99b79e4aebc5
    volumes:
      - redis_data:/data
    networks:
      - backend

  bot:
    build: Bot
    restart: always

volumes:
  redis_data:

networks:
  backend:
