services:
  webapp:
    build: WebApp
    image: banquidle-webapp-development
    ports:
      - "3000:3000"
    volumes:
      - ./WebApp:/rails
    environment:
      RAILS_ENV: development

    networks:
      - backend
    depends_on:
      - redis
  
  redis:
    image: redis@sha256:0e9ce48d0db4865e805389edcb078996322e85c5216834d1f55c99b79e4aebc5
    volumes:
      - redis_data:/data
    networks:
      - backend

volumes:
  redis_data:

networks:
  backend:
