:root {
    --font-family: 'Share Tech Mono', monospace;

    --primary-color: #00ffff;
    --primary-dark: #00c0c0;
    --secondary-color: #ff00ff;

    --correct-answer: #00ff64;
    --correct-bg: rgba(0, 255, 100, 0.15);
    --partial-answer: #dbf927;
    --partial-bg: rgba(125, 125, 0, 0.1);
    --wrong-answer: #ff4d4d;
    --wrong-bg: rgba(113, 0, 0, 0.1);

    --bg-color: #0d0c1d;
    --card-bg: rgba(26, 26, 46, 0.7);

    --text-primary: #f0f0f0;
    --text-secondary: #8a8a8a;
    --text-inverse: #0d0c1d;

    --border-color: #00ffff;

    --shadow-sm: 0 0 5px var(--primary-color);
    --shadow-md: 0 0 10px var(--primary-color);
    --shadow-lg: 0 0 20px var(--primary-color);

    --radius: 0px;
    --radius-lg: 0px;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
}