/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.

 *= require_self
 */

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url('wall.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#guessForm {
    margin-bottom: 6vh;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
}

input[type="submit"] {
    background-color: rgb(69, 15, 15);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(49, 10, 10);
}